.header{
	text-align: center;
	padding: 30px;
	background-color: white;
	
	}
img{
  max-width: 1000px;
  max-height: 1000px;
}
.active{
	background-color: #92ddbc;
	border-radius: 2px;
}
/* Style for the Bottom Navigation link */
ol{
  background-color: #067a79;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  position: sticky;
  bottom: 0;
  width: 100%;
  position: -webkit-sticky;/*MacOS*/
  float: center; 
  }
ol{
	display: block;
	color: #1fc2ad;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
/*Coincides with the Hover Button class*/
.tb{
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
} 
/*Hover button for the top and bottom Navigatioon bar*/
.tb:hover{
	background-color: #92ddbc;
}
li{
	float:left;
}
/* Top Navigation Bar*/
ul{
  background-color: #067a79;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  position: sticky;
  bottom: 0;
  width: 100%;
  position: -webkit-sticky;/*MacOS*/
  float: center; 
}
li a{
	display: block;
	color: #1fc2ad;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-right: 1px solid #bbb;
	box-shadow: 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* For the Column Paragraph on the Home */
.middle{
	float: right;
	padding: 10px;
	height: 572px;
	width: 306px;
	max-height: auto;
	max-width: auto;
	
} 
.left{
	float: right;
	padding: 10px;
	height: 572px;
	width: 306px;
	color: blue;
	max-height: auto;
	max-width: auto;
}
.right{
	float: left;
	padding: 10px;
	height: 572px;
	width: 306px;
	color: red;
	
}

/* For the Column paragraphs on the About Page */
.aboutright{
	float:right;
	padding: 20px;
	height: 572px;
	width: 25%;
	color: red;
}

.aboutleft{
	float:left;
	padding: 20px;
	height: 572px;
	width: 50%;
	color: blue;
}


/* Style for the Bottom Navigation link */
.btmnav {
  background-color: #067a79;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;/*MacOS*/
  bottom: 0;
  width: 100%;
  float: center;
  overflow: hidden;
  
}

.btmnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

